In [1]:
import pandas as pd
import numpy as np
import os
import pm4py

In [2]:
df_BPIC17 = pd.read_csv(os.getcwd() + '/Sampled_BPIC17_offer_log.csv')

In [3]:
df_BPIC17

,index,Case ID,Activity,Resource,Complete Timestamp,Variant,Variant index,(case) Accepted,(case) ApplicationID,(case) CreditScore,(case) FirstWithdrawalAmount,(case) MonthlyCost,(case) NumberOfTerms,(case) OfferedAmount,(case) Selected,Action,EventID,EventOrigin,OfferID,lifecycle:transition
0,0,Offer_247135719,O_Create Offer,User_17,2016/01/02 18:17:05.720,Variant 8,8,True,Application_196483749,0,10000.0,201.76,57,10000.0,False,Created,Offer_247135719,Offer,NaN,complete
1,1,Offer_247135719,O_Created,User_17,2016/01/02 18:17:08.762,Variant 8,8,True,Application_196483749,0,10000.0,201.76,57,10000.0,False,statechange,OfferState_124849367,Offer,Offer_247135719,complete
2,2,Offer_247135719,O_Sent (online only),User_17,2016/01/02 18:19:21.330,Variant 8,8,True,Application_196483749,0,10000.0,201.76,57,10000.0,False,statechange,OfferState_440662877,Offer,Offer_247135719,complete
3,3,Offer_247135719,O_Cancelled,User_17,2016/01/02 18:21:26.034,Variant 8,8,True,Application_196483749,0,10000.0,201.76,57,10000.0,False,statechange,OfferState_591416028,Offer,Offer_247135719,complete
4,4,Offer_941964966,O_Create Offer,User_17,2016/01/02 18:21:42.022,Variant 1,1,True,Application_196483749,0,4100.0,201.76,57,10000.0,False,Created,Offer_941964966,Offer,NaN,complete
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22404,22404,Offer_1064426652,O_Create Offer,User_23,2016/02/18 22:50:01.446,Variant 2,2,True,Application_1574359134,767,6000.0,118.56,59,6000.0,True,Created,Offer_1064426652,Offer,NaN,complete
22405,22405,Offer_1064426652,O_Created,User_23,2016/02/18 22:50:02.655,Variant 2,2,True,Application_1574359134,767,6000.0,118.56,59,6000.0,True,statechange,OfferState_189916093,Offer,Offer_1064426652,complete
22406,22406,Offer_1064426652,O_Sent (mail and online),User_23,2016/02/18 22:50:22.174,Variant 2,2,True,Application_1574359134,767,6000.0,118.56,59,6000.0,True,statechange,OfferState_24747308,Offer,Offer_1064426652,complete
22407,22407,Offer_1064426652,O_Returned,User_117,2016/02/29 19:08:56.200,Variant 2,2,True,Application_1574359134,767,6000.0,118.56,59,6000.0,True,statechange,OfferState_1809485991,Offer,Offer_1064426652,complete
22408,22408,Offer_1064426652,O_Accepted,User_102,2016/02/29 23:43:45.831,Variant 2,2,True,Application_1574359134,767,6000.0,118.56,59,6000.0,True,statechange,OfferState_880267349,Offer,Offer_1064426652,complete

In [4]:
df_BPIC17 = df_BPIC17.rename(columns={"Case ID": "caseid", "Activity": "activity", "Complete Timestamp": "ts", "Resource": "resource", "(case) Accepted": "outcome"})

In [5]:
event_log = df_BPIC17[["caseid","activity","ts", "resource", "outcome"]]

In [ ]:
# Convert 'ts' to datetime format
event_log['ts'] = pd.to_datetime(event_log['ts'])

In [7]:
event_log

,caseid,activity,ts,resource,outcome
0,Offer_247135719,O_Create Offer,2016-01-02 18:17:05.720,User_17,True
1,Offer_247135719,O_Created,2016-01-02 18:17:08.762,User_17,True
2,Offer_247135719,O_Sent (online only),2016-01-02 18:19:21.330,User_17,True
3,Offer_247135719,O_Cancelled,2016-01-02 18:21:26.034,User_17,True
4,Offer_941964966,O_Create Offer,2016-01-02 18:21:42.022,User_17,True
...,...,...,...,...,...
22404,Offer_1064426652,O_Create Offer,2016-02-18 22:50:01.446,User_23,True
22405,Offer_1064426652,O_Created,2016-02-18 22:50:02.655,User_23,True
22406,Offer_1064426652,O_Sent (mail and online),2016-02-18 22:50:22.174,User_23,True
22407,Offer_1064426652,O_Returned,2016-02-29 19:08:56.200,User_117,True
22408,Offer_1064426652,O_Accepted,2016-02-29 23:43:45.831,User_102,True

In [ ]:
# Use the `replace()` function to remove commas
event_log['caseid'] = event_log['caseid'].replace('Offer_', '', regex=True)

In [ ]:
# Convert the column to floats
event_log['caseid'] = event_log['caseid'].astype(int)

In [10]:
event_log

,caseid,activity,ts,resource,outcome
0,247135719,O_Create Offer,2016-01-02 18:17:05.720,User_17,True
1,247135719,O_Created,2016-01-02 18:17:08.762,User_17,True
2,247135719,O_Sent (online only),2016-01-02 18:19:21.330,User_17,True
3,247135719,O_Cancelled,2016-01-02 18:21:26.034,User_17,True
4,941964966,O_Create Offer,2016-01-02 18:21:42.022,User_17,True
...,...,...,...,...,...
22404,1064426652,O_Create Offer,2016-02-18 22:50:01.446,User_23,True
22405,1064426652,O_Created,2016-02-18 22:50:02.655,User_23,True
22406,1064426652,O_Sent (mail and online),2016-02-18 22:50:22.174,User_23,True
22407,1064426652,O_Returned,2016-02-29 19:08:56.200,User_117,True
22408,1064426652,O_Accepted,2016-02-29 23:43:45.831,User_102,True

In [11]:
def extract_prefixes(event_log, L):
    # Group the event log by caseid
    grouped_by_case = event_log.groupby('caseid')

    # Filter cases with at least L events
    valid_cases = grouped_by_case.filter(lambda x: len(x) >= L)

    # Extract the prefixes of length L
    prefixes = valid_cases.groupby('caseid').head(L)

    return prefixes

In [12]:
L = 4  # Replace with your value of L
prefixes = extract_prefixes(event_log, L)

In [26]:
prefixes

,caseid,activity,ts,resource,outcome
0,247135719,O_Create Offer,1451758625720000000,User_17,True
1,247135719,O_Created,1451758628762000000,User_17,True
2,247135719,O_Sent (online only),1451758761330000000,User_17,True
3,247135719,O_Cancelled,1451758886034000000,User_17,True
4,941964966,O_Create Offer,1451758902022000000,User_17,True
...,...,...,...,...,...
22402,659154322,O_Returned,1456334761178000000,User_114,True
22404,1064426652,O_Create Offer,1455835801446000000,User_23,True
22405,1064426652,O_Created,1455835802655000000,User_23,True
22406,1064426652,O_Sent (mail and online),1455835822174000000,User_23,True
22407,1064426652,O_Returned,1456772936200000000,User_117,True

In [14]:
def aggregate_encoding(prefix):
    prefix['ts'] = prefix['ts'].astype('int64')
    # Aggregate "Activity" and "Resource" using frequency
    activity_counts = prefix['activity'].value_counts(normalize=True).to_dict()
    resource_counts = prefix['resource'].value_counts(normalize=True).to_dict()

    # Aggregate "Timestamp" using average
    avg_timestamp = prefix['ts'].mean()

    # Create a dictionary to store the aggregated values
    aggregated_values = {
        'activity_frequency': activity_counts,
        'resource_frequency': resource_counts,
        'avg_timestamp': avg_timestamp
    }

    return aggregated_values

In [15]:
aggregated_values = aggregate_encoding(prefixes)

In [16]:
aggregated_values

{'activity_frequency': {'O_Create Offer': 0.25,
  'O_Created': 0.25,
  'O_Sent (mail and online)': 0.24069313039901274,
  'O_Returned': 0.13096462361168243,
  'O_Cancelled': 0.11142533936651584,
  'O_Sent (online only)': 0.009306869600987248,
  'O_Refused': 0.007610037021801728},
 'resource_frequency': {'User_1': 0.06669066227889757,
  'User_27': 0.0346565199506376,
  'User_28': 0.033216783216783216,
  'User_10': 0.03249691484985603,
  'User_3': 0.029103249691484985,
  'User_18': 0.02776635129576306,
  'User_5': 0.027457836281365694,
  'User_85': 0.025195392842451664,
  'User_4': 0.02442410530645825,
  'User_19': 0.02416700946112711,
  'User_38': 0.02411559029206088,
  'User_49': 0.02385849444672974,
  'User_41': 0.023755656108597284,
  'User_73': 0.023344302756067463,
  'User_2': 0.02262443438914027,
  'User_117': 0.02195598519127931,
  'User_35': 0.02118469765528589,
  'User_118': 0.020567667626491155,
  'User_25': 0.02051624845742493,
  'User_13': 0.019642122583299053,
  'User_14': 0.019642122583299053,
  'User_24': 0.019436445907034142,
  'User_113': 0.019333607568901685,
  'User_37': 0.01876799670917318,
  'User_114': 0.01779103249691485,
  'User_116': 0.01707116412998766,
  'User_15': 0.01707116412998766,
  'User_21': 0.01686548745372275,
  'User_112': 0.01686548745372275,
  'User_17': 0.015682846565199506,
  'User_7': 0.014191690662278898,
  'User_71': 0.013368983957219251,
  'User_44': 0.012854792266556973,
  'User_119': 0.012751953928424516,
  'User_31': 0.01264911559029206,
  'User_16': 0.012546277252159605,
  'User_34': 0.012546277252159605,
  'User_74': 0.011877828054298642,
  'User_12': 0.011055121349238996,
  'User_8': 0.010746606334841629,
  'User_22': 0.010438091320444261,
  'User_36': 0.00997531879884821,
  'User_11': 0.009923899629781983,
  'User_108': 0.008638420403126285,
  'User_43': 0.00853558206499383,
  'User_120': 0.008432743726861374,
  'User_9': 0.007507198683669272,
  'User_20': 0.007404360345536816,
  'User_6': 0.007250102838338133,
  'User_70': 0.007147264500205677,
  'User_92': 0.005707527766351295,
  'User_47': 0.005656108597285068,
  'User_52': 0.004781982723159194,
  'User_115': 0.00462772521596051,
  'User_89': 0.0038564376799670916,
  'User_29': 0.0038564376799670916,
  'User_95': 0.0034450843274372684,
  'User_87': 0.0033422459893048127,
  'User_30': 0.0033422459893048127,
  'User_75': 0.002879473467708762,
  'User_102': 0.002725215960510078,
  'User_99': 0.0026223776223776225,
  'User_23': 0.0024681201151789387,
  'User_68': 0.0021081859317153436,
  'User_33': 0.001902509255450432,
  'User_90': 0.0016968325791855204,
  'User_110': 0.0016454134101192926,
  'User_86': 0.001336898395721925,
  'User_26': 0.0012340600575894694,
  'User_127': 0.0010283833813245578,
  'User_100': 0.00097696421225833,
  'User_125': 0.00097696421225833,
  'User_109': 0.0006684491978609625,
  'User_50': 0.0005141916906622789,
  'User_76': 0.000462772521596051,
  'User_101': 0.00035993418346359524,
  'User_141': 0.00030851501439736734,
  'User_144': 0.00020567667626491157,
  'User_142': 0.00010283833813245579,
  'User_32': 5.141916906622789e-05},
 'avg_timestamp': 1.4542905111969193e+18}

In [29]:
def index_based_encoding(prefix):
    # One-hot encode "Activity" and "Resource"
    activity_encoded = pd.get_dummies(prefix['activity'], prefix='activity', drop_first=True).astype(int)
    resource_encoded = pd.get_dummies(prefix['resource'], prefix='resource', drop_first=True).astype(int)

    # Concatenate the encoded columns with the original DataFrame
    encoded_prefix = pd.concat([prefix, activity_encoded, resource_encoded], axis=1)

    # Drop the original "Activity" and "Resource" columns
    encoded_prefix = encoded_prefix.drop(['activity', 'resource'], axis=1)

    # Encode "outcome" column (True: 1, False: 0)
    encoded_prefix['outcome'] = encoded_prefix['outcome'].astype(int)


    return encoded_prefix

In [30]:
encoded_prefix = index_based_encoding(prefixes)

In [31]:
encoded_prefix

,caseid,ts,outcome,activity_O_Create Offer,activity_O_Created,activity_O_Refused,activity_O_Returned,activity_O_Sent (mail and online),activity_O_Sent (online only),resource_User_10,...,resource_User_8,resource_User_85,resource_User_86,resource_User_87,resource_User_89,resource_User_9,resource_User_90,resource_User_92,resource_User_95,resource_User_99
0,247135719,1451758625720000000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,247135719,1451758628762000000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,247135719,1451758761330000000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,247135719,1451758886034000000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,941964966,1451758902022000000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22402,659154322,1456334761178000000,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22404,1064426652,1455835801446000000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22405,1064426652,1455835802655000000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22406,1064426652,1455835822174000000,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
22407,1064426652,1456772936200000000,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

# Assuming 'event_log' is your DataFrame and 'outcome' is the target variable
# Also, assuming 'index_based_encoding' function from the previous response is available

def train_decision_tree(event_log, L):
    # Extract prefixes of length L
    prefixes = extract_prefixes(event_log, L)
    prefixes['ts'] = prefixes['ts'].astype('int64')

    # Index-based encoding for prefixes
    encoded_prefixes = index_based_encoding(prefixes)

    # Split data into features (X) and target variable (y)
    X = encoded_prefixes.drop('outcome', axis=1)
    y = encoded_prefixes['outcome']

    # Split the data into 70% training and 30% testing
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

    # Initialize the Decision Tree Classifier
    dt_classifier = DecisionTreeClassifier(random_state=42, max_depth=5)

    # Train the Decision Tree model
    dt_classifier.fit(X_train, y_train)

    # Make predictions on the test set
    y_pred = dt_classifier.predict(X_test)

    # Evaluate the accuracy of the model
    accuracy = accuracy_score(y_test, y_pred)

    return dt_classifier, accuracy

In [33]:
# Train Decision Tree for L=2
dt_model_L2, accuracy_L2 = train_decision_tree(event_log, L=2)
print(f"Decision Tree Accuracy for L=2: {accuracy_L2}")

# Train Decision Tree for L=5
dt_model_L5, accuracy_L5 = train_decision_tree(event_log, L=5)
print(f"Decision Tree Accuracy for L=5: {accuracy_L5}")

Decision Tree Accuracy for L=2: 0.6746666666666666
Decision Tree Accuracy for L=5: 0.6977231091337346

In [34]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

def train_random_forest(event_log, L, max_depth=None, n_estimators=100, test_size=0.3, random_state=42):
    # Extract prefixes of length L
    prefixes = extract_prefixes(event_log, L)
    prefixes['ts'] = prefixes['ts'].astype('int64')

    # Index-based encoding for prefixes
    encoded_prefixes = index_based_encoding(prefixes)

    # Split data into features (X) and target variable (y)
    X = encoded_prefixes.drop('outcome', axis=1)
    y = encoded_prefixes['outcome']

    # Split the data into training and testing sets
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, random_state=random_state)

    # Initialize the Random Forest classifier
    rf_classifier = RandomForestClassifier(max_depth=max_depth, n_estimators=n_estimators, random_state=random_state)

    # Train the Random Forest model
    rf_classifier.fit(X_train, y_train)

    # Make predictions on the test set
    y_pred = rf_classifier.predict(X_test)

    # Calculate accuracy
    accuracy = accuracy_score(y_test, y_pred)

    return rf_classifier, accuracy

In [35]:
# Train RF for L=2
rf_model_L2, rf_accuracy_L2 = train_random_forest(event_log, L=2, max_depth=5, n_estimators=100, test_size=0.3, random_state=42)
print(f"Random Forest Accuracy for L=2: {rf_accuracy_L2}")

# Train RF for L=5
rf_model_L2, rf_accuracy_L5 = train_random_forest(event_log, L=5, max_depth=5, n_estimators=100, test_size=0.3, random_state=42)
print(f"Random Forest Accuracy for L=5: {rf_accuracy_L5}")

Random Forest Accuracy for L=2: 0.674
Random Forest Accuracy for L=5: 0.6838523946610835